<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('base') }}
    {% endblock %}
</head>
<body>
    <header class="banner row">
        <div class="col-lg-3">
            <a class="navbar-brand position-absolute" href="#">
                <img src="{{ asset('img/logo_la_founaise_sans_fond.png') }}" width="auto" height="70px"
                     class="d-inline-block align-top" alt="logo la fournaise">
            </a>
        </div>
        <div class="col-lg-12 text-center">
            <h1 class="text-center banner__title p-2">La Fournaise<i class="fas fa-truck"></i></h1>
        </div>
    </header>

    <nav class="navigation fixed-bottom sticky-top navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse row" id="navbarNavAltMarkup">
            <div class="navbar-nav p-3 justify-content-around">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-item nav-link active" href="{{ path('app_dashboard_admin') }}">Mes données</a>
                    <a class="nav-item nav-link" href="{{ path('app_list_of_product') }}">Le menu</a>
                    <a class="nav-item nav-link" href="{{ path('app_admin_coordinates_and_timetables') }}">Les coordonnées</a>
                    <a class="nav-item nav-link" href="{{ path('app_logout') }}">Deconnexion</a>
                {% else %}
                    <a class="nav-item nav-link active" href="{{ path('app_homepage') }}">Accueil</a>
                    <a class="nav-item nav-link" href="{{ path('app_list_of_product') }}">Le menu</a>
                    <a class="nav-item nav-link" href="{{ path('app_login') }}">Connexion</a>
                    <a class="nav-item nav-link" href="#">Contact</a>
                {% endif %}

            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}

    <footer class="row d-flex align-items-center">
        <div class="first_block_footer col-sm-4">
            <nav class="p-2">
                <ul>
                    <li class="p-1">
                        <a href="#">Accueil</a>
                    </li>
                    <li class="p-1">
                        <a  href="#">Le menu</a>
                    </li>
                    <li class="p-1">
                        <a  href="#">Connexion</a>
                    </li>
                    <li class="p-1">
                        <a  href="#">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="second_block_footer col-sm-4">
            <img width="100%" src="{{ asset('img/logo_la_founaise_sans_fond.png') }}" alt="logo_la_fournaise"/>
        </div>
        <div class="third_block_footer col-3 offset-sm-1">
            {% if is_granted('ROLE_ADMIN') %}
                <nav class="p-2">
                    <ul>
                        <li class="p-1">
                            <a href="{{ path('app_dashboard_admin') }}">Mes données</a>
                        </li>
                        <li class="p-1">
                            <a  href="{{ path('app_list_of_product') }}">Le menu</a>
                        </li>
                        <li class="p-1">
                            <a  href="{{ path('app_admin_coordinates_and_timetables') }}">les coordonnées/ horaires</a>
                        </li>
                        <li class="p-1">
                            <a  href="{{ path('app_logout') }}">deconnexion</a>
                        </li>
                    </ul>
                </nav>
            {% else %}
                <nav class="p-2">
                    <ul>
                        <li class="p-1">
                            <a href="#">Accueil</a>
                        </li>
                        <li class="p-1">
                            <a  href="#">Le menu</a>
                        </li>
                        <li class="p-1">
                            <a  href="#">Connexion</a>
                        </li>
                        <li class="p-1">
                            <a  href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </footer>
</body>
{% block javascripts %}
    {{ encore_entry_script_tags('base') }}
{% endblock %}
</html>