{% extends 'baseTwo.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('updateCoordinatesAndTimetables') }}
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            {{ form_start(locationForm) }}
                <div class="col-sm-12 mt-2">
                    {{ form_row(locationForm.address) }}
                </div>
                <div class="col-sm-12 mt-2">
                    {{ form_row(locationForm.city) }}
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-2">
                        <div class="row">
                            {{ form_label(locationForm.beginHour) }}
                            <div class="col-sm-4">
                                {{ form_widget(locationForm.beginHour.hour) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(locationForm.beginHour.minute) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mt-2">
                        <div class="row">
                            {{ form_label(locationForm.endTime) }}
                            <div class="col-sm-4">
                                {{ form_widget(locationForm.endTime.hour) }}
                            </div>
                            <div class="col-sm-4">
                                {{ form_widget(locationForm.endTime.minute) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 mt-2">
                        {{ form_row(locationForm.longitude) }}
                    </div>
                    <div class="col-sm-6 mt-2">
                        {{ form_row(locationForm.latitude) }}
                    </div>
                </div>
                <div class="col-sm-12 text-center p-3">
                    <button type="submit" class="btn btn-greenmousse">Valider</button>
                </div>
            {{ form_end(locationForm) }}
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('updateCoordinatesAndTimetables') }}
{% endblock %}